<a href="https://colab.research.google.com/github/anthonyforde/CA682I_Assignment/blob/main/Aging_Mental_Health.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Import the libraries

In [1]:
import pandas as pd 
from pandas_profiling import ProfileReport
import numpy as np
import seaborn as sns

## Bring in the data

### Mount Google Drive for analysis output

In [2]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/My Drive/CA682I_DMV_Assignment")
!ls

Mounted at /content/drive
Aging_Mental_Health.ipynb  base_data.xlsx

### Get raw data from Github

#### Ageing Health Questionnaire

In [3]:
url = 'https://raw.githubusercontent.com/anthonyforde/CA682I_Assignment/main/Alzheimer_s_Disease_and_Healthy_Aging_Data.csv'
health_data = pd.read_csv(url)
health_data.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,Data_Value_Unit,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,2017,2017,ID,Idaho,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,%,...,Q27,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
1,2020,2020,IN,Indiana,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,%,...,Q27,NaN,18,AGE,AGE_OVERALL,GENDER,MALE,NaN,NaN,NaN
2,2019,2019,IA,Iowa,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,NaN,%,...,Q03,NaN,19,AGE,AGE_OVERALL,OVERALL,OVERALL,NaN,NaN,NaN
3,2019,2019,KS,Kansas,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,NaN,%,...,Q03,NaN,20,AGE,AGE_OVERALL,RACE,HIS,NaN,NaN,NaN
4,2017,2017,KS,Kansas,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,%,...,Q27,NaN,20,AGE,AGE_OVERALL,OVERALL,OVERALL,NaN,NaN,NaN

#### Medicare Costs

In [4]:
url = 'https://raw.githubusercontent.com/anthonyforde/CA682I_Assignment/main/Medicare_Geographic_Variation_by_National_State.csv'
medicare_costs = pd.read_csv(url)
medicare_costs.head()

,YEAR,BENE_GEO_LVL,BENE_GEO_DESC,BENE_GEO_CD,BENE_AGE_LVL,TOT_MDCR_PYMT_PC,TOT_MDCR_STDZD_PYMT_PC
0,2015.0,National,National,NaN,All,9988.67,9485.73
1,2015.0,National,National,NaN,<65,10990.25,10424.20
2,2015.0,National,National,NaN,>65,9782.58,9292.63
3,2015.0,State,AK,2.0,All,8818.08,6790.94
4,2015.0,State,AK,2.0,<65,11017.84,8570.98

#### Private Health Insurance Premiums by State

In [5]:
url = 'https://raw.githubusercontent.com/anthonyforde/CA682I_Assignment/main/Insurance_Premiums_by_State.csv'
premiums = pd.read_csv(url)
premiums.head()

        Location  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
0  United States  $273  $276  $299  $359  $481  $478  $462  $452  $438  $456
1        Alabama  $256  $264  $297  $469  $558  $546  $553  $590  $597  $567
2         Alaska  $426  $488  $719  $926  $726  $702  $724  $675  $712  $762
3        Arizona  $202  $196  $239  $515  $516  $471  $442  $436  $390  $410
4       Arkansas  $294  $285  $298  $281  $364  $378  $365  $394  $387  $416

#### Population Profile - Age 65+

In [6]:
url = 'https://raw.githubusercontent.com/anthonyforde/CA682I_Assignment/main/US_Population_Old_Age_2015-2020.csv'
population_age_profile = pd.read_csv(url)
population_age_profile.head()

,Year,State,State_Code,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
0,2015,Alabama,AL,320878310,47760852,14.9,4867274,764162,15.7
1,2015,Alaska,AK,320878310,47760852,14.9,735727,72837,9.9
2,2015,Arizona,AZ,320878310,47760852,14.9,6829598,1120054,16.4
3,2015,Arkansas,AR,320878310,47760852,14.9,2982181,477149,16.0
4,2015,California,CA,320878310,47760852,14.9,39013188,5188754,13.3

## Create Analytics Base Table

In [7]:
base_data = ""
base_data = health_data[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'Data_Value', 'StratificationID1', 'StratificationID2']].copy()
base_data

,YearStart,LocationAbbr,LocationDesc,Question,Data_Value,StratificationID1,StratificationID2
0,2017,ID,Idaho,Percentage of older adults with a lifetime dia...,24.0,5064,OVERALL
1,2020,IN,Indiana,Percentage of older adults with a lifetime dia...,13.7,AGE_OVERALL,MALE
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,AGE_OVERALL,OVERALL
3,2019,KS,Kansas,Percentage of older adults who are experiencin...,10.7,AGE_OVERALL,HIS
4,2017,KS,Kansas,Percentage of older adults with a lifetime dia...,19.8,AGE_OVERALL,OVERALL
...,...,...,...,...,...,...,...
35775,2015,WY,Wyoming,Percentage of older adults who reported subjec...,23.6,65PLUS,OVERALL
35776,2019,WY,Wyoming,Percentage of older adults with a lifetime dia...,NaN,AGE_OVERALL,NAA
35777,2016,WY,Wyoming,Percentage of older adults who are experiencin...,NaN,5064,NAA
35778,2015,WY,Wyoming,Percentage of older adults who reported that a...,20.1,5064,MALE
35779,2015,WY,Wyoming,Percentage of older adults who reported that a...,18.7,65PLUS,OVERALL

#### Select required fields from BRFSS ageing mental health questionnaire

In [8]:
base_data.columns = ['Year', 'State_Abbr', 'State', 'Question', 'Perc_Mental_Distress', 'Age_Category', 'Gender']
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender
0,2017,ID,Idaho,Percentage of older adults with a lifetime dia...,24.0,5064,OVERALL
1,2020,IN,Indiana,Percentage of older adults with a lifetime dia...,13.7,AGE_OVERALL,MALE
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,AGE_OVERALL,OVERALL
3,2019,KS,Kansas,Percentage of older adults who are experiencin...,10.7,AGE_OVERALL,HIS
4,2017,KS,Kansas,Percentage of older adults with a lifetime dia...,19.8,AGE_OVERALL,OVERALL
...,...,...,...,...,...,...,...
35775,2015,WY,Wyoming,Percentage of older adults who reported subjec...,23.6,65PLUS,OVERALL
35776,2019,WY,Wyoming,Percentage of older adults with a lifetime dia...,NaN,AGE_OVERALL,NAA
35777,2016,WY,Wyoming,Percentage of older adults who are experiencin...,NaN,5064,NAA
35778,2015,WY,Wyoming,Percentage of older adults who reported that a...,20.1,5064,MALE
35779,2015,WY,Wyoming,Percentage of older adults who reported that a...,18.7,65PLUS,OVERALL

#### Filter on required question - the subject of this research: 
"Percentage of older adults who are experiencing frequent mental distress"

In [9]:
base_data = base_data[base_data['Question'] == "Percentage of older adults who are experiencing frequent mental distress"] 
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,AGE_OVERALL,OVERALL
3,2019,KS,Kansas,Percentage of older adults who are experiencin...,10.7,AGE_OVERALL,HIS
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,AGE_OVERALL,FEMALE
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,65PLUS,OVERALL
13,2019,AK,Alaska,Percentage of older adults who are experiencin...,NaN,5064,HIS
...,...,...,...,...,...,...,...
35757,2016,WY,Wyoming,Percentage of older adults who are experiencin...,NaN,AGE_OVERALL,ASN
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,AGE_OVERALL,FEMALE
35761,2017,WY,Wyoming,Percentage of older adults who are experiencin...,NaN,65PLUS,BLK
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,65PLUS,MALE
35777,2016,WY,Wyoming,Percentage of older adults who are experiencin...,NaN,5064,NAA

#### From a stratification breakdown, for this study, we are only concerned with gender breakdown: male, female and overall. Filter out ethnic breakdown which is outside the scope of this research.

In [10]:
base_data = base_data[(base_data['Gender'] == "MALE") | (base_data['Gender'] == "FEMALE") | (base_data['Gender'] == "OVERALL")] 
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,AGE_OVERALL,OVERALL
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,AGE_OVERALL,FEMALE
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,65PLUS,OVERALL
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,65PLUS,OVERALL
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,5064,OVERALL
...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,65PLUS,MALE
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,AGE_OVERALL,FEMALE
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,65PLUS,MALE
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,AGE_OVERALL,FEMALE
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,65PLUS,MALE

#### Filter out US territories and regions - we are only concerned with the 50 US states, DC and US overall data.

In [11]:
base_data = base_data[base_data.State_Abbr != "GU"]   # GUAM
base_data = base_data[base_data.State_Abbr != "MDW"]  # Midwest
base_data = base_data[base_data.State_Abbr != "NRE"]  # Northeast
base_data = base_data[base_data.State_Abbr != "PR"]   # Puerto Rico
base_data = base_data[base_data.State_Abbr != "SOU"]  # South
base_data = base_data[base_data.State_Abbr != "VI"]   # Virgin
base_data = base_data[base_data.State_Abbr != "WEST"] # West

In [12]:
base_data['Age_Category'] = base_data['Age_Category'].astype(str)

In [13]:
base_data.loc[base_data["Age_Category"] == "AGE_OVERALL", "Age_Category"] = "All"
base_data.loc[base_data["Age_Category"] == "65PLUS", "Age_Category"] = ">65"
base_data.loc[base_data["Age_Category"] == "5064", "Age_Category"] = "<65"
base_data.loc[base_data["Gender"] == "OVERALL", "Gender"] = "All"
base_data.loc[base_data["Gender"] == "MALE", "Gender"] = "Male"
base_data.loc[base_data["Gender"] == "FEMALE", "Gender"] = "Female"

In [14]:
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All
...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male

#### Check for null values

In [15]:
base_data.isna().sum()

Year                    0
State_Abbr              0
State                   0
Question                0
Perc_Mental_Distress    5
Age_Category            0
Gender                  0
dtype: int64

Deal with null values

In [16]:
base_data[base_data['Perc_Mental_Distress'].isna()]

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender
1286,2017,AK,Alaska,Percentage of older adults who are experiencin...,NaN,>65,Male
17904,2015,NV,Nevada,Percentage of older adults who are experiencin...,NaN,>65,Male
27851,2019,SD,South Dakota,Percentage of older adults who are experiencin...,NaN,>65,Male
28073,2020,SD,South Dakota,Percentage of older adults who are experiencin...,NaN,<65,Male
28291,2016,SD,South Dakota,Percentage of older adults who are experiencin...,NaN,>65,Male

In [17]:
base_data.loc[base_data["Perc_Mental_Distress"].isna(), "Perc_Mental_Distress"] = 0

#### Append new columns to base data in preparation for other data sources

In [18]:
base_data['Average_Medicare_Cost'] = 0
base_data['Average_Premium'] = 0
base_data['US_Population'] = 0
base_data['US_Population_Over_65'] = 0
base_data['US_Perc_Over_65'] = 0
base_data['State_Population'] = 0
base_data['State_Population_Over_65'] = 0
base_data['State_Perc_Over_65'] = 0

In [19]:
base_data.loc[base_data["State"] == "United States, DC & Territories", "State"] = "United States"

In [20]:
base_data.loc[base_data["State_Abbr"] == "US"]

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
29583,2018,US,United States,Percentage of older adults who are experiencin...,8.6,>65,Female,0,0,0,0,0,0,0,0
29588,2019,US,United States,Percentage of older adults who are experiencin...,10.8,All,All,0,0,0,0,0,0,0,0
29628,2016,US,United States,Percentage of older adults who are experiencin...,11.9,All,Female,0,0,0,0,0,0,0,0
29714,2020,US,United States,Percentage of older adults who are experiencin...,10.6,All,All,0,0,0,0,0,0,0,0
29745,2017,US,United States,Percentage of older adults who are experiencin...,10.3,<65,Male,0,0,0,0,0,0,0,0
29756,2015,US,United States,Percentage of older adults who are experiencin...,7.4,>65,All,0,0,0,0,0,0,0,0
29805,2018,US,United States,Percentage of older adults who are experiencin...,12.8,<65,All,0,0,0,0,0,0,0,0
29896,2016,US,United States,Percentage of older adults who are experiencin...,10.3,All,All,0,0,0,0,0,0,0,0
29912,2018,US,United States,Percentage of older adults who are experiencin...,15.1,<65,Female,0,0,0,0,0,0,0,0
29933,2015,US,United States,Percentage of older adults who are experiencin...,11.5,All,Female,0,0,0,0,0,0,0,0
29980,2018,US,United States,Percentage of older adults who are experiencin...,7.9,>65,All,0,0,0,0,0,0,0,0
30072,2020,US,United States,Percentage of older adults who are experiencin...,10.0,<65,Male,0,0,0,0,0,0,0,0
30088,2017,US,United States,Percentage of older adults who are experiencin...,15.4,<65,Female,0,0,0,0,0,0,0,0
30149,2019,US,United States,Percentage of older adults who are experiencin...,13.1,<65,All,0,0,0,0,0,0,0,0
30178,2016,US,United States,Percentage of older adults who are experiencin...,10.2,<65,Male,0,0,0,0,0,0,0,0
30193,2015,US,United States,Percentage of older adults who are experiencin...,10.3,All,All,0,0,0,0,0,0,0,0
30255,2018,US,United States,Percentage of older adults who are experiencin...,9.0,All,Male,0,0,0,0,0,0,0,0
30309,2017,US,United States,Percentage of older adults who are experiencin...,12.9,<65,All,0,0,0,0,0,0,0,0
30322,2017,US,United States,Percentage of older adults who are experiencin...,6.9,>65,Male,0,0,0,0,0,0,0,0
30360,2019,US,United States,Percentage of older adults who are experiencin...,9.1,>65,Female,0,0,0,0,0,0,0,0
30445,2015,US,United States,Percentage of older adults who are experiencin...,8.8,All,Male,0,0,0,0,0,0,0,0
30506,2019,US,United States,Percentage of older adults who are experiencin...,8.1,>65,All,0,0,0,0,0,0,0,0
30631,2019,US,United States,Percentage of older adults who are experiencin...,15.6,<65,Female,0,0,0,0,0,0,0,0
30642,2016,US,United States,Percentage of older adults who are experiencin...,5.9,>65,Male,0,0,0,0,0,0,0,0
30674,2017,US,United States,Percentage of older adults who are experiencin...,7.9,>65,All,0,0,0,0,0,0,0,0
30688,2020,US,United States,Percentage of older adults who are experiencin...,12.5,All,Female,0,0,0,0,0,0,0,0
30690,2018,US,United States,Percentage of older adults who are experiencin...,10.4,<65,Male,0,0,0,0,0,0,0,0
30745,2020,US,United States,Percentage of older adults who are experiencin...,8.4,All,Male,0,0,0,0,0,0,0,0
30784,2016,US,United States,Percentage of older adults who are experiencin...,12.6,<65,All,0,0,0,0,0,0,0,0
30794,2017,US,United States,Percentage of older adults who are experiencin...,8.7,>65,Female,0,0,0,0,0,0,0,0
30883,2019,US,United States,Percentage of older adults who are experiencin...,8.9,All,Male,0,0,0,0,0,0,0,0
30888,2017,US,United States,Percentage of older adults who are experiencin...,8.8,All,Male,0,0,0,0,0,0,0,0
30960,2015,US,United States,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0
30961,2020,US,United States,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0
30977,2015,US,United States,Percentage of older adults who are experiencin...,12.4,<65,All,0,0,0,0,0,0,0,0
30996,2016,US,United States,Percentage of older adults who are experiencin...,8.5,>65,Female,0,0,0,0,0,0,0,0
31102,2020,US,United States,Percentage of older adults who are experiencin...,8.1,>65,All,0,0,0,0,0,0,0,0
31153,2019,US,United States,Percentage of older adults who are experiencin...,12.5,All,Female,0,0,0,0,0,0,0,0
31155,2018,US,United States,Percentage of older adults who are experiencin...,7.0,>65,Male,0,0,0,0,0,0,0,0
31179,2015,US,United States,Percentage of older adults who are experiencin...,14.2,<65,Female,0,0,0,0,0,0,0,0
31202,2017,US,United States,Percentage of older adults who are experiencin...,10.7,All,All,0,0,0,0,0,0,0,0
31232,2015,US,United States,Percentage of older adults who are experiencin...,8.2,>65,Female,0,0,0,0,0,0,0,0
31257,2020,US,United States,Percentage of older adults who are experiencin...,15.5,<65,Female,0,0,0,0,0,0,0,0
31340,2016,US,United States,Percentage of older adults who are experiencin...,7.3,>65,All,0,0,0,0,0,0,0,0
31373,2016,US,United States,Percentage of older adults who are experiencin...,8.4,All,Male,0,0,0,0,0,0,0,0
31376,2020,US,United States,Percentage of older adults who are experiencin...,12.8,<65,All,0,0,0,0,0,0,0,0
31388,2019,US,United States,Percentage of older adults who are experiencin...,10.5,<65,Male,0,0,0,0,0,0,0,0
31399,2017,US,United States,Percentage of older adults who are experiencin...,12.3,All,Female,0,0,0,0,0,0,0,0
31422,2018,US,United States,Percentage of older adults who are experiencin...,10.6,All,All,0,0,0,0,0,0,0,0
31501,2016,US,United States,Percentage of older adults who are experiencin...,14.8,<65,Female,0,0,0,0,0,0,0,0
31511,2020,US,United States,Percentage of older adults who are experiencin...,9.4,>65,Female,0,0,0,0,0,0,0,0
31576,2018,US,United States,Percentage of older adults who are experiencin...,12.1,All,Female,0,0,0,0,0,0,0,0
31609,2015,US,United States,Percentage of older adults who are experiencin...,10.4,<65,Male,0,0,0,0,0,0,0,0
31664,2019,US,United States,Percentage of older adults who are experiencin...,7.0,>65,Male,0,0,0,0,0,0,0,0

In [21]:
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,0,0,0,0,0,0,0,0
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,0,0,0,0,0,0,0
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,0,0,0,0,0,0,0,0
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,0,0,0,0,0,0,0,0
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,0,0,0,0,0,0,0
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,0,0,0,0,0,0,0
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,0,0,0,0,0,0,0
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,0,0,0,0,0,0,0
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0

## Select required fields from Medicare data

In [22]:
medicare_costs

,YEAR,BENE_GEO_LVL,BENE_GEO_DESC,BENE_GEO_CD,BENE_AGE_LVL,TOT_MDCR_PYMT_PC,TOT_MDCR_STDZD_PYMT_PC
0,2015.0,National,National,NaN,All,9988.67,9485.730000
1,2015.0,National,National,NaN,<65,10990.25,10424.200000
2,2015.0,National,National,NaN,>65,9782.58,9292.630000
3,2015.0,State,AK,2.0,All,8818.08,6790.940000
4,2015.0,State,AK,2.0,<65,11017.84,8570.980000
...,...,...,...,...,...,...,...
970,2020.0,State,WY,56.0,<65,10927.78,9774.430000
971,2020.0,State,WY,56.0,>65,8990.13,7929.210000
972,NaN,NaN,NaN,NaN,NaN,NaN,646.319167
973,NaN,NaN,NaN,NaN,NaN,NaN,739.512500
974,NaN,NaN,NaN,NaN,NaN,NaN,633.602500

In [23]:
medicare_costs.loc[medicare_costs["BENE_GEO_DESC"] == "National", "BENE_GEO_DESC"] = "US"

In [24]:
medicare_costs[(medicare_costs['BENE_GEO_DESC'] == "US")]

,YEAR,BENE_GEO_LVL,BENE_GEO_DESC,BENE_GEO_CD,BENE_AGE_LVL,TOT_MDCR_PYMT_PC,TOT_MDCR_STDZD_PYMT_PC
0,2015.0,National,US,NaN,All,9988.67,9485.73
1,2015.0,National,US,NaN,<65,10990.25,10424.20
2,2015.0,National,US,NaN,>65,9782.58,9292.63
162,2016.0,National,US,NaN,All,10101.86,9564.56
163,2016.0,National,US,NaN,<65,11278.06,10692.75
164,2016.0,National,US,NaN,>65,9869.46,9341.64
324,2017.0,National,US,NaN,All,10329.82,9754.22
325,2017.0,National,US,NaN,<65,11572.07,10947.79
326,2017.0,National,US,NaN,>65,10095.21,9528.81
486,2018.0,National,US,NaN,All,10700.85,10113.47
487,2018.0,National,US,NaN,<65,12171.35,11520.25
488,2018.0,National,US,NaN,>65,10438.15,9862.16
648,2019.0,National,US,NaN,All,11141.75,10435.72
649,2019.0,National,US,NaN,<65,12774.37,11980.84
650,2019.0,National,US,NaN,>65,10871.82,10180.25
810,2020.0,National,US,NaN,All,10739.46,9962.96
811,2020.0,National,US,NaN,<65,12745.89,11840.47
812,2020.0,National,US,NaN,>65,10433.96,9677.08

In [25]:
medicare_costs.isna().sum()

YEAR                       3
BENE_GEO_LVL               3
BENE_GEO_DESC              3
BENE_GEO_CD               21
BENE_AGE_LVL               3
TOT_MDCR_PYMT_PC           3
TOT_MDCR_STDZD_PYMT_PC     0
dtype: int64

In [26]:
medicare_costs.drop(medicare_costs[medicare_costs['YEAR'].isna()].index, inplace = True)

In [27]:
medicare_costs['YEAR'] = medicare_costs['YEAR'].astype(int)

In [28]:
for index, row in medicare_costs.iterrows():
    base_data.loc[(base_data.Year == row['YEAR']) & (base_data.State_Abbr == row['BENE_GEO_DESC']) & (base_data.Age_Category == row['BENE_AGE_LVL']) & (base_data.Gender == "All"), 'Average_Medicare_Cost'] = row['TOT_MDCR_STDZD_PYMT_PC']

base_data['Average_Medicare_Cost'] = base_data['Average_Medicare_Cost'].astype(int)
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,9179,0,0,0,0,0,0,0
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,0,0,0,0,0,0,0
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,7498,0,0,0,0,0,0,0
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,7262,0,0,0,0,0,0,0
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,10024,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,0,0,0,0,0,0,0
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,0,0,0,0,0,0,0
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,0,0,0,0,0,0,0
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,0,0,0,0,0,0,0
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0

In [29]:
base_data.isna().sum()

Year                        0
State_Abbr                  0
State                       0
Question                    0
Perc_Mental_Distress        0
Age_Category                0
Gender                      0
Average_Medicare_Cost       0
Average_Premium             0
US_Population               0
US_Population_Over_65       0
US_Perc_Over_65             0
State_Population            0
State_Population_Over_65    0
State_Perc_Over_65          0
dtype: int64

## Select required fields from medical insurance premium data

In [30]:
premiums

,Location,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,United States,$273,$276,$299,$359,$481,$478,$462,$452,$438,$456
1,Alabama,$256,$264,$297,$469,$558,$546,$553,$590,$597,$567
2,Alaska,$426,$488,$719,$926,$726,$702,$724,$675,$712,$762
3,Arizona,$202,$196,$239,$515,$516,$471,$442,$436,$390,$410
4,Arkansas,$294,$285,$298,$281,$364,$378,$365,$394,$387,$416
5,California,$300,$312,$312,$341,$430,$439,$430,$426,$417,$432
6,Colorado,$275,$308,$307,$352,$470,$488,$358,$351,$358,$380
7,Connecticut,$361,$353,$353,$414,$545,$475,$570,$580,$581,$627
8,Delaware,$289,$301,$356,$423,$589,$684,$548,$540,$548,$549
9,District of Columbia,$242,$244,$244,$298,$324,$393,$414,$415,$387,$428
10,Florida,$266,$282,$287,$331,$466,$477,$468,$457,$456,$471
11,Georgia,$291,$271,$287,$336,$483,$487,$463,$456,$394,$413
12,Hawaii,$183,$262,$262,$330,$438,$493,$474,$478,$484,$469
13,Idaho,$235,$281,$284,$355,$478,$498,$520,$495,$461,$425
14,Illinois,$227,$234,$255,$352,$486,$478,$451,$423,$418,$453
15,Indiana,$328,$323,$282,$278,$339,$339,$387,$421,$398,$397
16,Iowa,$253,$265,$300,$379,$713,$762,$742,$523,$502,$484
17,Kansas,$239,$228,$264,$376,$518,$552,$502,$491,$450,$471
18,Kentucky,$247,$266,$261,$289,$422,$460,$471,$476,$387,$422
19,Louisiana,$308,$325,$353,$413,$474,$454,$500,$545,$541,$565
20,Maine,$325,$321,$335,$385,$588,$544,$513,$440,$427,$457
21,Maryland,$220,$255,$254,$318,$487,$419,$397,$347,$328,$336
22,Massachusetts,$268,$261,$257,$250,$316,$332,$343,$363,$389,$417
23,Michigan,$254,$255,$260,$278,$381,$383,$360,$347,$340,$362
24,Minnesota,$182,$259,$260,$412,$385,$326,$309,$307,$327,$335
25,Mississippi,$378,$304,$279,$329,$519,$521,$487,$459,$448,$461
26,Missouri,$287,$284,$314,$372,$529,$499,$483,$479,$442,$473
27,Montana,$253,$239,$322,$465,$525,$561,$483,$471,$483,$477
28,Nebraska,$249,$296,$332,$507,$767,$838,$711,$699,$595,$550
29,Nevada,$267,$265,$286,$302,$432,$410,$374,$393,$383,$386
30,New Hampshire,$289,$250,$262,$267,$475,$402,$405,$357,$309,$323
31,New Jersey,$323,$316,$332,$348,$413,$352,$392,$405,$424,$441
32,New Mexico,$226,$198,$212,$273,$414,$365,$345,$339,$389,$445
33,New York,$343,$380,$393,$454,$506,$569,$610,$597,$592,$627
34,North Carolina,$298,$316,$389,$543,$627,$618,$558,$516,$504,$512
35,North Dakota,$284,$303,$330,$352,$377,$457,$383,$493,$497,$475
36,Ohio,$264,$269,$268,$274,$371,$380,$375,$375,$375,$413
37,Oklahoma,$213,$226,$306,$518,$659,$696,$601,$554,$498,$510
38,Oregon,$217,$223,$274,$348,$414,$443,$446,$437,$444,$462
39,Pennsylvania,$239,$235,$260,$396,$575,$484,$459,$455,$390,$433
40,Rhode Island,$293,$263,$263,$261,$311,$336,$332,$349,$361,$379
41,South Carolina,$271,$271,$301,$386,$520,$552,$509,$476,$444,$496
42,South Dakota,$286,$264,$329,$456,$521,$557,$593,$618,$601,$626
43,Tennessee,$197,$233,$287,$472,$743,$548,$511,$466,$445,$473
44,Texas,$248,$256,$269,$320,$434,$444,$432,$436,$424,$461
45,Utah,$220,$225,$260,$309,$550,$542,$486,$472,$456,$471
46,Vermont,$413,$468,$468,$492,$505,$622,$662,$669,$749,$841
47,Virginia,$272,$281,$292,$322,$535,$555,$521,$479,$450,$371
48,Washington,$285,$234,$247,$243,$336,$406,$391,$388,$396,$395
49,West Virginia,$281,$289,$359,$472,$545,$596,$628,$654,$752,$824
50,Wisconsin,$298,$306,$319,$368,$569,$537,$491,$457,$429,$456
51,Wyoming,$419,$438,$463,$504,$865,$865,$881,$791,$762,$802
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Premiums were analyzed using the second-lowest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Sources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,"KFF analysis of data from Healthcare.gov, stat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
premiums.drop(premiums[premiums['2014'].isna()].index, inplace = True)

In [32]:
base_data['Average_Premium'] = "$0"

In [33]:
# for index, row in medicare_costs.iterrows():
#     base_data.loc[(base_data.Year == row['YEAR']) & (base_data.State_Abbr == row['BENE_GEO_DESC']) & (base_data.Age_Category == row['BENE_AGE_LVL']) & (base_data.Gender == "All"), 'Average_Medicare_Cost'] = row['TOT_MDCR_STDZD_PYMT_PC']
# base_data

for index, row in premiums.iterrows():
    base_data.loc[(base_data.Year == 2015) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2015']
    base_data.loc[(base_data.Year == 2016) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2016']
    base_data.loc[(base_data.Year == 2017) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2017']
    base_data.loc[(base_data.Year == 2018) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2018']
    base_data.loc[(base_data.Year == 2019) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2019']
    base_data.loc[(base_data.Year == 2020) & (base_data.State == row['Location']) & (base_data.Gender == "All") & (base_data.Age_Category == ">65"), 'Average_Premium'] = row['2020']
    
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,9179,$0,0,0,0,0,0,0
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,$0,0,0,0,0,0,0
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,7498,$463,0,0,0,0,0,0
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,7262,$702,0,0,0,0,0,0
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,10024,$0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,$0,0,0,0,0,0,0
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,$0,0,0,0,0,0,0
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,$0,0,0,0,0,0,0
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,$0,0,0,0,0,0,0
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,$0,0,0,0,0,0,0

In [34]:
base_data['Average_Premium'] = base_data['Average_Premium'].str.replace("$", "")
base_data['Average_Premium'] = base_data['Average_Premium'].astype(int)
base_data

<ipython-input-34-df3d762d2dad>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  base_data['Average_Premium'] = base_data['Average_Premium'].str.replace("$", "")

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,9179,0,0,0,0,0,0,0
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,0,0,0,0,0,0,0
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,7498,463,0,0,0,0,0,0
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,7262,702,0,0,0,0,0,0
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,10024,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,0,0,0,0,0,0,0
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,0,0,0,0,0,0,0
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,0,0,0,0,0,0,0
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,0,0,0,0,0,0,0
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0

In [35]:
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,9179,0,0,0,0,0,0,0
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,0,0,0,0,0,0,0
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,7498,463,0,0,0,0,0,0
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,7262,702,0,0,0,0,0,0
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,10024,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,0,0,0,0,0,0,0
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,0,0,0,0,0,0,0
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,0,0,0,0,0,0,0
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,0,0,0,0,0,0,0
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,0,0,0,0,0,0

## Select required fields from US population data

In [36]:
population_age_profile

,Year,State,State_Code,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
0,2015,Alabama,AL,320878310,47760852,14.90,4867274,764162,15.7
1,2015,Alaska,AK,320878310,47760852,14.90,735727,72837,9.9
2,2015,Arizona,AZ,320878310,47760852,14.90,6829598,1120054,16.4
3,2015,Arkansas,AR,320878310,47760852,14.90,2982181,477149,16.0
4,2015,California,CA,320878310,47760852,14.90,39013188,5188754,13.3
...,...,...,...,...,...,...,...,...,...
301,2020,Virginia,VA,331002651,55641546,16.81,8591000,1401000,16.3
302,2020,Washington,WA,331002651,55641546,16.81,7694000,1248000,16.2
303,2020,West Virginia,WV,331002651,55641546,16.81,1785000,374000,20.9
304,2020,Wisconsin,WI,331002651,55641546,16.81,5833000,1048000,18.0
305,2020,Wyoming,WY,331002651,55641546,16.81,582000,104000,17.8

In [37]:
for index, row in population_age_profile.iterrows():
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'US_Population'] = row['US_Population']
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'US_Population_Over_65'] = row['US_Population_Over_65']
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'US_Perc_Over_65'] = row['US_Perc_Over_65']
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'State_Population'] = row['State_Population']
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'State_Population_Over_65'] = row['State_Population_Over_65']
    base_data.loc[(base_data.Year == row['Year']) & (base_data.State_Abbr == row['State_Code']), 'State_Perc_Over_65'] = row['State_Perc_Over_65']

base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
2,2019,IA,Iowa,Percentage of older adults who are experiencin...,8.7,All,All,9179,0,329064917,54065366,16.43,3154330,552954,17.53
8,2019,WY,Wyoming,Percentage of older adults who are experiencin...,10.5,All,Female,0,0,329064917,54065366,16.43,578641,99179,17.14
9,2016,WY,Wyoming,Percentage of older adults who are experiencin...,6.2,>65,All,7498,463,323015995,49244195,15.20,585413,87812,15.00
18,2019,AK,Alaska,Percentage of older adults who are experiencin...,6.7,>65,All,7262,702,329064917,54065366,16.43,731534,91588,12.52
24,2016,AL,Alabama,Percentage of older adults who are experiencin...,16.8,<65,All,10024,0,323015995,49244195,15.20,4872988,784551,16.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35717,2018,WY,Wyoming,Percentage of older adults who are experiencin...,5.7,>65,Male,0,0,327096265,52431193,16.00,561029,95375,17.00
35736,2015,WY,Wyoming,Percentage of older adults who are experiencin...,10.9,All,Female,0,0,320878310,47760852,14.90,584131,84699,14.50
35743,2019,WY,Wyoming,Percentage of older adults who are experiencin...,5.4,>65,Male,0,0,329064917,54065366,16.43,578641,99179,17.14
35760,2017,WY,Wyoming,Percentage of older adults who are experiencin...,11.3,All,Female,0,0,325084756,50858679,15.60,579791,91607,15.80
35765,2015,WY,Wyoming,Percentage of older adults who are experiencin...,6.5,>65,Male,0,0,320878310,47760852,14.90,584131,84699,14.50

In [38]:
base_data = base_data.sort_values(['Year', 'State'], ascending = [True, True])

In [39]:
base_data

,Year,State_Abbr,State,Question,Perc_Mental_Distress,Age_Category,Gender,Average_Medicare_Cost,Average_Premium,US_Population,US_Population_Over_65,US_Perc_Over_65,State_Population,State_Population_Over_65,State_Perc_Over_65
329,2015,AL,Alabama,Percentage of older adults who are experiencin...,18.8,<65,Female,0,0,320878310,47760852,14.90,4867274,764162,15.7
417,2015,AL,Alabama,Percentage of older adults who are experiencin...,11.0,<65,Male,0,0,320878310,47760852,14.90,4867274,764162,15.7
724,2015,AL,Alabama,Percentage of older adults who are experiencin...,15.1,<65,All,9776,0,320878310,47760852,14.90,4867274,764162,15.7
773,2015,AL,Alabama,Percentage of older adults who are experiencin...,7.1,>65,Male,0,0,320878310,47760852,14.90,4867274,764162,15.7
1124,2015,AL,Alabama,Percentage of older adults who are experiencin...,9.4,All,Male,0,0,320878310,47760852,14.90,4867274,764162,15.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34607,2020,WY,Wyoming,Percentage of older adults who are experiencin...,8.7,All,All,8132,0,331002651,55641546,16.81,582000,104000,17.8
34675,2020,WY,Wyoming,Percentage of older adults who are experiencin...,8.8,>65,Female,0,0,331002651,55641546,16.81,582000,104000,17.8
34952,2020,WY,Wyoming,Percentage of older adults who are experiencin...,14.1,<65,Female,0,0,331002651,55641546,16.81,582000,104000,17.8
35171,2020,WY,Wyoming,Percentage of older adults who are experiencin...,11.5,All,Female,0,0,331002651,55641546,16.81,582000,104000,17.8
35292,2020,WY,Wyoming,Percentage of older adults who are experiencin...,10.7,<65,All,9774,0,331002651,55641546,16.81,582000,104000,17.8

## Export finalised analytics base table to Excel to be used for data visualisations

In [40]:
base_data.to_excel('base_data.xlsx')